<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expansions</title>
    <link href="/public/css/expansions.css" rel="stylesheet">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    
</body>
</html>