<hr class="featurette-divider mt-7">

<footer class="container p-3">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2024 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>