.container-badge {
    display: flex;
    justify-content: space-between;
    width: 50%;
    flex-direction: row;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
    row-gap: 25px;
}
.heart-icon{
    display: flex;
    justify-content: flex-end;
    width: 18rem;
}
.card{
    cursor: pointer;
}

@media (max-width: 600px) {
    .container-badge {
        flex-direction: column;
   
        justify-content: flex-start;
    }
}
